<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Color guessing game (Part 2)</title>
	<script type="text/javascript">
		// global sorted color array
		var colors = ['red', 'green', 'blue', 
					  'yellow', 'white', 'green',
					  'magenta', 'cyan', 'orange',
					  'gray', 'gold'].sort();
		
		// global template messages
		var	promptMessage = "I'm thinking of one of these colors.\n\n\t" + colors.join(', ') + "\n\nWhat color am I thinking of?",
			badColorMessage = "Sorry, I don't recognize your color.\n\nPlease try again.",
			hintMessage = "Sorry, your guess is not correct!\n\nHint: your color is alphabetically {{rank}} than mine.\n\nPlease try again.",
			victoryMessage = "Congratulations! You have guessed the color!\n\nIt took {{guesses}} guesses to finish the game.\n\n You can see the color in the background."
		
		function doGame(){
			// getting a random color
			var targetIndex = Math.floor(Math.random() * colors.length);
			var targetColor = colors[targetIndex];
			
			// are we in debug mode? (the url has a hash, example: http://<location>/part2.html#1 )
			checkDebugMode(targetColor);
			
			// loop related variables
			var	answer, answerIndex, matched, guesses;
			while(!matched){
				guesses = (guesses + 1) || 1;
				answer = prompt(promptMessage); // read the answer from user
				answerIndex = colors.indexOf(answer);
				matched = checkGuess(targetIndex, answerIndex, targetColor, guesses);
			}
		}
		
		function checkGuess(targetIndex, answerIndex, color, guesses){
			if(answerIndex == -1){// color doesn't exist
				alert(badColorMessage);
				return false;
			}
			var matched = targetIndex == answerIndex;
			if(!matched){
				var rank = (answerIndex > targetIndex) ? 'higher' : 'lower';
				alert(hintMessage.replace('{{rank}}', rank));
			}else{
				setBackground(color);
				alert(victoryMessage.replace('{{guesses}}', guesses));
			}
			return matched;
		}
		
		function setBackground(color){
			document.body.style.background = color;
		}
		
		function checkDebugMode(color){
			if(location.hash){
				alert("[DEBUG]: Color is: " + color);
			}
		}
	
	</script>
</head>

<body onload="doGame()">
</body>

</html>